<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <style>
    h3 {
      color: #004080; /* Deep blue color */
    }

    .description {
      display: none;
      margin-top: 10px;
    }

    .toggle-button {
      cursor: pointer;
      padding: 8px 16px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      text-align: center;
    }

    .toggle-button:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1><strong>Md Toki Tahmid</strong></h1>
              <p>Hi, I am Toki. I recently graduated from <a href="https://www.buet.ac.bd/web/#/">Bangladesh University of Engineering and Technology</a>.</p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg">
            </td>
          </tr>
        </table>

        <!-- Journals Section -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Journal Publications</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% if post.categories contains 'journal' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{ post.title }}</h3>
              <br>
              {{ post.authors | replace: "Md Toki Tahmid", "<strong>Md Toki Tahmid</strong>" }}
              <br>
              <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv != "N/A" %}
              <a href="{{ post.arxiv }}">arxiv</a> /
              {% endif %}
              {% if post.doi != "N/A" %}
              <a href="{{ post.doi }}">doi</a> /
              {% endif %}
              {% if post.code != "N/A" %}
              <a href="{{ post.code }}">code</a> /
              {% endif %}
              <br>
              <button class="toggle-button" onclick="toggleDescription(this)">Show Description</button>
              <div class="description">
                {{ post.excerpt }}
              </div>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

        <!-- Conferences Section -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Conference Publications</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% if post.categories contains 'conference' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{ post.title }}</h3>
              <br>
              {{ post.authors | replace: "Md Toki Tahmid", "<strong>Md Toki Tahmid</strong>" }}
              <br>
              <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv != "N/A" %}
              <a href="{{ post.arxiv }}">arxiv</a> /
              {% endif %}
              {% if post.doi != "N/A" %}
              <a href="{{ post.doi }}">doi</a> /
              {% endif %}
              {% if post.code != "N/A" %}
              <a href="{{ post.code }}">code</a> /
              {% endif %}
              <br>
              <button class="toggle-button" onclick="toggleDescription(this)">Show Description</button>
              <div class="description">
                {{ post.excerpt }}
              </div>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>


        <!-- Preprints Section -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Preprints</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% if post.categories contains 'preprints' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{ post.title }}</h3>
              <br>
              {{ post.authors | replace: "Md Toki Tahmid", "<strong>Md Toki Tahmid</strong>" }}
              <br>
              <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv != "N/A" %}
              <a href="{{ post.arxiv }}">arxiv</a> /
              {% endif %}
              {% if post.doi != "N/A" %}
              <a href="{{ post.doi }}">doi</a> /
              {% endif %}
              {% if post.code != "N/A" %}
              <a href="{{ post.code }}">code</a> /
              {% endif %}
              <br>
              <button class="toggle-button" onclick="toggleDescription(this)">Show Description</button>
              <div class="description">
                {{ post.excerpt }}
              </div>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

      </td>
    </tr>
  </table>

  <script>
    function toggleDescription(element) {
      const description = element.nextElementSibling;
      if (description.style.display === "none" || description.style.display === "") {
        description.style.display = "block";
        element.innerText = "Hide Description";
      } else {
        description.style.display = "none";
        element.innerText = "Show Description";
      }
    }
  </script>
</body>

</html>
